// sassy-gridlover

//To use in the `<body>`.
//
//Outputs `font-size` and `line-height`.
//
//@param {number} $font-size [$sgl-base-font-size] - Base font size
//@param {string} $unit [$sgl-base-unit] - Unit to output
//
//@example scss


body {
  @include sassy-gridlover-body($sgl-base-font-size, "pxrem");
}

h1 {
  @include sassy-gridlover-heading(3, "em");
}

h2 {
  @include sassy-gridlover-heading(2, "px");
}

h3 {
  @include sassy-gridlover-heading(1, "pxrem");
}

h4 {
  @include sassy-gridlover-heading(0);
}

p, ul, ol, pre, table, blockquote {
  @include sassy-gridlover-margins();
}

// bitters

body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin:0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  //font-size: $base-font-size;
  line-height: ($heading-line-height * 1);
  margin: $small-spacing 0 ($small-spacing / 1.5);
}
h5,
h6{
  font-size: $base-font-size;
}

p {
  margin: 0 0 ($small-spacing * 1.5);
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

h1, h2, h3, h4{
  font-family:'enriqueta', serif;
  letter-spacing:-0.033em;
}
a{
  transition:0.33s;
}

// code blocks
pre {
  font-family:'inconsolata';
  font-size:$base-font-size / 1.33;
  padding:1rem;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
}
.highlight .err {
  color: inherit;
  background-color: transparent;
  font-weight: bold;
}
